---
import LinkOut from "../../../../links/LinkOut/LinkOut.astro";
import type { Project } from "../projects";

interface Props {
  project: Project;
}

const { project } = Astro.props;
const { imgs, title, description, deploy } = project;
---

<article class="card">
  <img src={imgs.full.src} alt={title} />
  <div class="txts">
    <h4><LinkOut href={deploy}>{title}</LinkOut></h4>
    <p>{description}</p>
  </div>
</article>

<style>
  .card {
    background-color: var(--bg-surf);
    border: var(--border);
    border-radius: var(--lg);
    overflow: hidden;

    img {
      object-fit: cover;
    }

    .txts {
      padding: var(--lg);
      display: grid;
      gap: var(--md);

      h4 {
        a {
          color: currentColor;
        }
      }

      p {
        font-size: 0.9rem;
        color: var(--grey);
      }
    }
  }
</style>
