---
import LinkOut from "../../../../links/LinkOut/LinkOut.astro";
import type { Project } from "../projects";
import css from "./Card.module.css";

interface Props {
  project: Project;
}

const { project } = Astro.props;
const { imgs, title, description, deploy, tools } = project;
---

<article class={css.card}>
  <LinkOut class={css.link} href={deploy}>
    <picture>
      <img src={imgs.full.src} alt={title} />
    </picture>
  </LinkOut>

  <div class={css.txts}>
    <h4>{title}</h4>
    <div class={css.tags}>{tools.map((item) => <span>{item}</span>)}</div>
    <p>{description}</p>
  </div>
</article>

<script>
  import css from "./Card.module.css";
  import { view } from "../../../../../utils/view";

  document.addEventListener("astro:page-load", () => {
    const cards = document.querySelectorAll(`.${css.card}`);
    cards.forEach((item) => view(item as HTMLElement, "fade-in-bottom", 0));
  });
</script>
